
.header{
    background-color: white;
    height: 200px;
}
.madax{
    padding-top: 20px;

}
h1{
    font-size: 150px;
}
body{
    background-color:#dbedff;
}
p{
    font-size: 30px;
    color: blue;
}

h5{
    color: black;
    font-size: 40px;
}
.col-md-4{
    float: left;
}
h4{
    color: black;
    font-size: 40px;
}
#ibra{
    font-style: italic;
}
p, h1, h2, h3, h4, h5 {
    font-family: 'Cabin Sketch', cursive;
}


